*{
    margin: 10px 20px;
    box-sizing: border-box;
    background-color: #e5e5fd;
}
/* Top container */
.top-container{
    min-height: 50vh;
    box-sizing: border-box;
}
img{
    position: absolute;
    top: 50px;
    left: 150px;
    border-radius: 50%;
}
#top .top-container h1{
    position: absolute;
    top: 100px;
    left: 30%;
    font-size: 40px;
}
#top .top-container h3{
    position: absolute;
    top: 155px;
    left: 46%;
    font-size: 25px;
}
/* Bottom container */
#bottom{
    margin: 0 40px;
    box-sizing: border-box;
}
.bottom-container{
    margin-top: -20px;
    background-color: #e5e5fd;
    min-height: 50vh;
    box-sizing: border-box;
}
#bottom .bottom-container h1{
    font-size: 45px;
    text-transform: uppercase;
    font-style: oblique;
}
#bottom .bottom-container p{
    font-size: 25px;
}
#bottom .bottom-container .biography h2{
    text-transform: uppercase;
    font-size: 30px;
}
#bottom .bottom-container .biography li{
    font-size: 20px;
}
h3{
    position: absolute;
    right: 50px;
}